/* src/index.css or src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form {
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 0.5rem;
  flex: 1;
}

button {
  padding: 0.5rem 1rem;
  display: inline-block;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0 ;
  column-rule-color: beige;
  background-color: darkkhaki;
}

li {
  background: #eee;
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
